<!DOCTYPE html>
<html lang="en" ng-app="BookApp">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css"/>
</head>
<body ng-controller="editCtrl">
    <div class="container">
        <form name="saveForm" ng-submit="ctrl.save();">
            <div class="form-group">
                <label for="title">Title:</label>
                <input class="form-control" type="text" id="title" ng-model="ctrl.book.title">
            </div>
            <div class="form-group">
                <label for="title">First Name:</label>
                <input class="form-control" type="text" id="title" ng-model="ctrl.book.author_firstname">
            </div>
            <div class="form-group">
                <label for="title">Last Name:</label>
                <input class="form-control" type="text" id="title" ng-model="ctrl.book.author_lastname">
            </div>
            <div class="form-group">
                <img src="images/{{ctrl.book.cover_thumbnail}}" alt="{{ctrl.book.cover_thumbnail}}" id="thumbnail">
            </div>
            <button type="submit" class="btn btn-primary">Save</button>
            <button type="button" class="btn btn-default" ng-click="ctrl.cancel();">Cancel</button>
        </form>
    </div>

    <script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script type="text/javascript" src="index.js"></script>
    <script type="text/javascript" src="controller.js"></script>
    <script type="text/javascript" src="service.js"></script>
    <script type="text/javascript" src="route.js"></script>
</body>
</html>