<!DOCTYPE html>
<html lang="en" ng-app="BookApp">
<head>
    <meta charset="UTF-8">
    <title>Book Title List</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="index.css">
</head>
<body ng-controller="listCtrl">
<div class="container">
    <form name="searchForm" ng-submit="ctrl.search(ctrl.title,ctrl.name)">
        <div class="input-group">
            <span class="input-group-addon">Title:</span>
            <input type="text" name="title" class="form-control" ng-model="ctrl.title">
        </div>
        <br>
        <div class="input-group">
            <span class="input-group-addon">Author:</span>
            <input type="text" name="author"  class="form-control" ng-model="ctrl.name">
        </div>
        <br>
        <button type="submit" class="btn btn-default">Search</button>
    </form>

    <div class="list">
        <div class="bookdiv" ng-repeat="b in ctrl.books | orderBy:'title'">
            <img src="images/{{b.cover_thumbnail}}" id="thumbnail">
            <h5>{{b.title}}</h5>
            <h6>{{b.author_firstname}} {{b.author_lastname}}</h6>
            <button type="button" ng-click="ctrl.getBook(b.id)">Edit</button>
        </div>
    </div>
</div>

<script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
<script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
<script type="text/javascript" src="index.js"></script>
<script type="text/javascript" src="controller.js"></script>
<script type="text/javascript" src="service.js"></script>
<script type="text/javascript" src="route.js"></script>
</body>
</html>